:root{
  --bs-blue:#037BC0;
  --bs-green:#8ccb00;
}
/*tipos de letras y tamanio*/
html{
  font-size: 62.5%; /*convierte 1rem = 10px */
}
body{
  font-family: 'Raleway',sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
h1,h2,h3,h4{
  font-family: 'Playfair Display',serif;
}
h1{
  font-size: 3.8rem;
}
@media(min-width:768px){
  h1{
    font-size: 5rem;
  }
}
h2{
  font-size: 3.2rem;
}
@media(min-width:768px){
  h2{
    font-size: 4rem;
  }
}
h3{
  font-size: 2.4rem;
}
@media(min-width:768px){
  h3{
    font-size: 3rem;
  }
}
h4{
  font-size: 2rem;
}
@media(min-width:768px){
  h4{
    font-size: 2.4rem;
  }
}
/*Reescribir colores*/ 
.text-primary, .nombre-sitio{
  color: var(--bs-blue)!important;
}
.btn-success{
  background-color: var(--bs-green)!important;
}

.bg-primary{
  background-color: var(--bs-blue)!important;
}
/*Imagen que esta en el Hero*/
.hero{
  background-image: url(/img/principal.jpg);
  height: 25rem;
  background-size: cover;/*rellena con la imagen*/
  background-position: center center;
}
@media(min-width:768px){
  .hero{
    height: 55rem;
  }
}
/*carousel*/
.carousel-item img {
    max-height: 400px; /* Ajusta según lo desees */
    object-fit: cover;
}

/*nuestros Productos*/
@media(min-width:768px){
  .producto img{
    height: 45rem;
    width: 100%;
    object-fit: cover;/*toma los 43rem de altura pero no pierde la proporcion y llena el espacio disponible */
  }
}
/*Categoria de Productos*/
.categoria img{
  transition-property: transform;
  transition-duration: 300ms;
}
.categoria img:hover{
  transform: scale(1.2);
}

